.div-landing {
  overflow: hidden;
}

#img-hero {
  display: block;
  width: auto;
  height: 375px;
  margin-left: -11rem;
}

.div-landing-description {
  padding: 2rem 1rem;
}

.div-landing-description > h2, .div-landing-description > div {
  width: 85%;
}

.div-landing-description > div {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.list-features > li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.img-checkmark {
  width: 24px;
  height: 25px;
  margin-right: .5rem;
}

#link-view-campgrounds {
  display: block;
  width: fit-content;
  padding: 1rem 1.5rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 0%);
  border-radius: 4px;
}

.list-partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

#img-airbnb {
  width: 83px;
  height: 42px;
}

#img-booking {
  width: 131px;
  height: 42px;
}

#img-plum-guide {
  width: 160px;
  height: 42px;
}

@media (min-width: 768px) {
  #img-hero {
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  .div-landing-description  {
    padding: 2rem;
  }

  .div-landing-description > h2 {
    font-size: 3rem;
  }

  .list-partners {
    justify-content: flex-start;
  }

  .list-partners > li {
    margin-right: 1.5rem;
  }
}

@media (min-width: 1400px) {
  body {
    background-color: hsla(30, 35%, 64%, 0.10);
  }

  header, .div-landing-description {
    padding: 2rem 8rem 6rem 8rem;
    width: 60%;
  }

  .div-landing {
    display: flex;
  }

  #img-hero {
    content: url('../Assets/Hero Image.jpg');
    order: 2;
    width: auto;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }

  .div-landing-description {
    order: 1;
    padding-bottom: 2rem;
  }

  .div-landing-description > h2, .div-landing-description > div {
    width: 70%;
  }
}