#img-nav-hamburger, #btn-submit {
  cursor: pointer;
}

header {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
}

main {
  padding: 0 1rem 1rem 1rem;
}

input, textarea, button {
  display: block;
  width: 100%;
  margin-top: .75rem;
  padding: 1.25rem;
  background-color: hsl(0, 0%, 96%);
  border-radius: 4px;
}

.div-new-comment > h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

textarea {
  line-height: 1.5rem;
}

#btn-submit {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

@media (min-width: 768px) {
  header {
    padding: 2rem;
  }

  main {
    padding: 0 2rem 2rem 2rem;
  }

  #form-new-comment {
    width: 80%;
  }

  footer {
    padding: 2rem 2rem 4rem 2rem;
  }
}

@media (min-width: 1400px) {
  .div-new-comment {
    width: 50%;
    margin: 0 auto; 
  }
}