#img-nav-hamburger, #btn-submit {
  cursor: pointer;
}

header {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
}

#img-nav-hamburger {
  width: 32px;
  height: 32px;
  display: block;
  padding: .125rem;
  background-color: hsla(30, 35%, 64%, 0.10);
  border-radius: 4px;
}

nav {
  position: relative;
}

nav > ul {
  position: absolute;
  right: 0;
  top: 3.5rem;
  width: 150px;
  border: 1px solid black;
  z-index: 4;
  background-color: hsl(0, 0%, 100%);
}

nav > ul > li {
  padding: 1rem;
  border-bottom: 1px solid black;
}

nav > ul > li:last-of-type {
  border-bottom: none;
}

main {
  padding: 0 1rem 1rem 1rem;
}

input, textarea, button {
  display: block;
  width: 100%;
  margin-top: .75rem;
  padding: 1.25rem;
  background-color: hsla(30, 35%, 64%, 0.10);
  border-radius: 4px;
}

.div-new-comment > h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

textarea {
  line-height: 1.5rem;
}

#btn-submit {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

@media (min-width: 768px) {
  header {
    padding: 2rem;
  }

  main {
    padding: 0 2rem 2rem 2rem;
  }

  #form-new-comment {
    width: 80%;
  }

  footer {
    padding: 2rem 2rem 4rem 2rem;
  }
}