#btn-back, #input-submit, #btn-sign-up {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem 3rem 1rem;
}

#link-back-campgrounds {
  display: flex;
  align-items: center;
  font-size: 1.15rem;
}

#link-back-campgrounds:hover, .div-sign-up > a:hover {
  font-weight: 700;
}

#link-back-campgrounds > svg {
  margin-right: .25rem;
}

#div-sign-in {
  padding: 0 1rem 3rem 1rem;
}

#div-sign-in > h2 {
  width: 80%;
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

#div-sign-in > form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 1.5rem;
  font-size: 1.15rem;
}

#input-username, #input-password {
  display: block;
  width: 100%;
  padding: 1.5rem;
  margin-top: 1rem;
  background-color: hsl(0, 0%, 96%);
  border-radius: 4px;
  font-size: 1rem;
}

#input-username::placeholder, #input-password::placeholder {
  font-size: 1rem;
}

#input-submit {
  padding: 1rem;
  margin-bottom: 1.5rem;
  background-color: hsl(0, 0%, 0%);
  border: 2px solid transparent;
  color: hsl(0, 0%, 100%);
  border-radius: 4px;
  font-weight: 700;
  font-size: 1.15rem;
}

#input-submit:hover {
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 0%);
}

.div-sign-up > a {
  color: hsl(193, 91%, 57%);
  text-decoration: underline;
}

.div-testimonial {
  padding: 3rem 1rem;
  background-color: hsla(30, 35%, 64%, 0.10);
}

.div-testimonial > span {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.5rem;
}

.div-user-info {
  display: flex;
  align-items: center;
}

#img-user {
  width: 40px;
  height: 40px;
  margin-right: .5rem;
}

#div-user-name {
  margin-bottom: .25rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  header, .div-testimonial {
    padding: 2.5rem;
  }

  #div-sign-in {
    padding: 0 2.5rem 2.5rem 2.5rem;
  }

  #div-sign-in > h2 {
    width: 100%;
    font-size: 2.5rem;
  }

  #div-sign-in > form {
    width: 80%;
  }
}

@media (min-width: 1400px) {
  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    padding: 2rem 8rem;
  }

  main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  #div-sign-in {
    padding: 2rem 8rem;
  }

  .div-testimonial {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
